name: chartdb
services:
  chartdb:
    container_name: chartdb
    image: ghcr.io/chartdb/chartdb:latest
    restart: always
    networks:
      - cloudflare
    labels:
      com.centurylinklabs.watchtower.enable: true
networks:
  default:
  cloudflare:
    name: cloudflare_tunnel
    external: true
x-dockge:
  urls:
    - https://diagram.aspian.my.id/
