DATA_DIR=/srv/wakatime

WAKAPI_PUBLIC_URL=
WAKAPI_PASSWORD_SALT= # can be generated with: "cat /dev/urandom | LC_ALL=C tr -dc 'a-zA-Z0-9' | fold -w ${1:-32} | head -n 1"
WAKAPI_SUPPORT_CONTACT=

# WAKAPI_ALLOW_SIGNUP=false

# don't need to change
ENVIRONMENT=production
WAKAPI_INVITE_CODES=true
WAKAPI_DATA_RETENTION_MONTHS=-1
WAKAPI_LISTEN_IPV4="0.0.0.0"
WAKAPI_LISTEN_IPV6="-"
WAKAPI_INSECURE_COOKIES=false
