services:
  wakapi:
    init: true
    image: ghcr.io/muety/wakapi:latest
    restart: unless-stopped
    # ports:
    #   - 3000:3000
    volumes:
      - ${DATA_DIR}:/data
    environment:
      WAKAPI_PASSWORD_SALT_FILE: "/run/secrets/password_salt"
    secrets:
      - source: password_salt
        target: password_salt
        uid: "1000"
        gid: "1000"
        mode: "0400"

secrets:
  password_salt:
    environment: WAKAPI_PASSWORD_SALT
