services:
  wakapi:
    init: true
    image: ghcr.io/muety/wakapi:latest
    container_name: wakapi
    restart: unless-stopped
    ports:
      - 3000:3000
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${DATA_DIR}:/data
    environment:
      WAKAPI_PASSWORD_SALT_FILE: /run/secrets/password_salt
    networks:
      - cloudflare
    labels:
      tsdproxy.enable: "true"
      tsdproxy.name: wakapi
      com.centurylinklabs.watchtower.enable: true
    secrets:
      - source: password_salt
        target: password_salt
        uid: "1000"
        gid: "1000"
        mode: "0400"

secrets:
  password_salt:
    environment: WAKAPI_PASSWORD_SALT

networks:
  default:
  cloudflare:
    name: cloudflare_tunnel
    external: true
  tsdproxy:
    name: tsdproxy
    external: true
